@tailwind base;
@tailwind components;
@tailwind utilities;

/* material symbols class */
span.symbol {
  font-family: var(--font-family-symbols);
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
}

/* load material tokens into the root */
:root {
  /* light */
  --md-sys-color-primary-light: #006a68;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #6ff7f3;
  --md-sys-color-on-primary-container-light: #00201f;
  --md-sys-color-secondary-light: #4a6362;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #cce8e6;
  --md-sys-color-on-secondary-container-light: #051f1f;
  --md-sys-color-tertiary-light: #4a607b;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #d1e4ff;
  --md-sys-color-on-tertiary-container-light: #021d35;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fafdfc;
  --md-sys-color-on-background-light: #191c1c;
  --md-sys-color-surface-light: #fafdfc;
  --md-sys-color-on-surface-light: #191c1c;
  --md-sys-color-surface-variant-light: #dae5e3;
  --md-sys-color-on-surface-variant-light: #3f4948;
  --md-sys-color-outline-light: #6f7978;
  --md-sys-color-outline-variant-light: #bec9c7;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-inverse-surface-light: #2d3131;
  --md-sys-color-inverse-on-surface-light: #eff1f0;
  --md-sys-color-inverse-primary-light: #4ddad6;
  --md-sys-color-surface-container-lowest-light: #ffffff;
  --md-sys-color-surface-container-low-light: #f1f4f3;
  --md-sys-color-surface-container-light: #ebeeed;
  --md-sys-color-surface-container-high-light: #e6e9e8;
  --md-sys-color-surface-container-highest-light: #e0e3e2;
  /* dark */
  --md-sys-color-primary-dark: #4ddad6;
  --md-sys-color-on-primary-dark: #003736 !important;
  --md-sys-color-primary-container-dark: #00504e !important;
  --md-sys-color-on-primary-container-dark: #6ff7f3 !important;
  --md-sys-color-secondary-dark: #b0ccca !important;
  --md-sys-color-on-secondary-dark: #1b3534 !important;
  --md-sys-color-secondary-container-dark: #324b4a !important;
  --md-sys-color-on-secondary-container-dark: #cce8e6 !important;
  --md-sys-color-tertiary-dark: #b1c8e8 !important;
  --md-sys-color-on-tertiary-dark: #1b324b !important;
  --md-sys-color-tertiary-container-dark: #324862 !important;
  --md-sys-color-on-tertiary-container-dark: #d1e4ff !important;
  --md-sys-color-error-dark: #ffb4ab !important;
  --md-sys-color-on-error-dark: #690005 !important;
  --md-sys-color-error-container-dark: #93000a !important;
  --md-sys-color-on-error-container-dark: #ffb4ab !important;
  --md-sys-color-background-dark: #000000;
  --md-sys-color-on-background-dark: #e0e3e2 !important;
  --md-sys-color-surface-dark: #191c1c !important;
  --md-sys-color-on-surface-dark: #e0e3e2 !important;
  --md-sys-color-surface-variant-dark: #3f4948 !important;
  --md-sys-color-on-surface-variant-dark: #bec9c7 !important;
  --md-sys-color-outline-dark: #889392 !important;
  --md-sys-color-outline-variant-dark: #3f4948 !important;
  --md-sys-color-shadow-dark: #000000 !important;
  --md-sys-color-scrim-dark: #000000 !important;
  --md-sys-color-inverse-surface-dark: #e0e3e2 !important;
  --md-sys-color-inverse-on-surface-dark: #2d3131 !important;
  --md-sys-color-inverse-primary-dark: #006a68 !important;
  --md-sys-color-surface-container-lowest-dark: #090f0f !important;
  --md-sys-color-surface-container-low-dark: #161d1c !important;
  --md-sys-color-surface-container-dark: #1a2120 !important;
  --md-sys-color-surface-container-high-dark: #252b2b !important;
  --md-sys-color-surface-container-highest-dark: #2f3635 !important;
}

/* load light theme */
:root {
  --md-sys-color-primary: var(--md-sys-color-primary-light);
  --md-sys-color-primary-rgb: var(--md-sys-color-primary-light-rgb);
  --md-sys-color-on-primary: var(--md-sys-color-on-primary-light);
  --md-sys-color-primary-container: var(--md-sys-color-primary-container-light);
  --md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-light);
  --md-sys-color-secondary: var(--md-sys-color-secondary-light);
  --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-light);
  --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-light);
  --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-light);
  --md-sys-color-tertiary: var(--md-sys-color-tertiary-light);
  --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-light);
  --md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-light);
  --md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-light);
  --md-sys-color-error: var(--md-sys-color-error-light);
  --md-sys-color-on-error: var(--md-sys-color-on-error-light);
  --md-sys-color-error-container: var(--md-sys-color-error-container-light);
  --md-sys-color-on-error-container: var(--md-sys-color-on-error-container-light);
  --md-sys-color-outline: var(--md-sys-color-outline-light);
  --md-sys-color-background: var(--md-sys-color-background-light);
  --md-sys-color-background-rgb: var(--md-sys-color-background-light-rgb);
  --md-sys-color-on-background: var(--md-sys-color-on-background-light);
  --md-sys-color-surface: var(--md-sys-color-surface-light);
  --md-sys-color-surface-container-lowest: var(--md-sys-color-surface-container-lowest-light);
  --md-sys-color-surface-container-low: var(--md-sys-color-surface-container-low-light);
  --md-sys-color-surface-container: var(--md-sys-color-surface-container-light);
  --md-sys-color-surface-container-high: var(--md-sys-color-surface-container-high-light);
  --md-sys-color-surface-container-highest: var(--md-sys-color-surface-container-highest-light);
  --md-sys-color-on-surface: var(--md-sys-color-on-surface-light);
  --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-light);
  --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-light);
  --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-light);
  --md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-light);
  --md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-light);
  --md-sys-color-shadow: var(--md-sys-color-shadow-light);
  --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-light);
  --md-sys-color-outline-variant: var(--md-sys-color-outline-variant-light);
  --md-sys-color-scrim: var(--md-sys-color-scrim-light);
}
/* override light theme with dark theme */
[data-theme='dark'] {
  --md-sys-color-primary: var(--md-sys-color-primary-dark);
  --md-sys-color-primary-rgb: var(--md-sys-color-primary-dark-rgb);
  --md-sys-color-on-primary: var(--md-sys-color-on-primary-dark);
  --md-sys-color-primary-container: var(--md-sys-color-primary-container-dark);
  --md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-dark);
  --md-sys-color-secondary: var(--md-sys-color-secondary-dark);
  --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-dark);
  --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-dark);
  --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-dark);
  --md-sys-color-tertiary: var(--md-sys-color-tertiary-dark);
  --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-dark);
  --md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-dark);
  --md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-dark);
  --md-sys-color-error: var(--md-sys-color-error-dark);
  --md-sys-color-on-error: var(--md-sys-color-on-error-dark);
  --md-sys-color-error-container: var(--md-sys-color-error-container-dark);
  --md-sys-color-on-error-container: var(--md-sys-color-on-error-container-dark);
  --md-sys-color-outline: var(--md-sys-color-outline-dark);
  --md-sys-color-background: var(--md-sys-color-background-dark);
  --md-sys-color-background-rgb: var(--md-sys-color-background-dark-rgb);
  --md-sys-color-on-background: var(--md-sys-color-on-background-dark);
  --md-sys-color-surface: var(--md-sys-color-surface-dark);
  --md-sys-color-surface-container-lowest: var(--md-sys-color-surface-container-lowest-dark);
  --md-sys-color-surface-container-low: var(--md-sys-color-surface-container-low-dark);
  --md-sys-color-surface-container: var(--md-sys-color-surface-container-dark);
  --md-sys-color-surface-container-high: var(--md-sys-color-surface-container-high-dark);
  --md-sys-color-surface-container-highest: var(--md-sys-color-surface-container-highest-dark);
  --md-sys-color-on-surface: var(--md-sys-color-on-surface-dark);
  --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-dark);
  --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-dark);
  --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-dark);
  --md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-dark);
  --md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-dark);
  --md-sys-color-shadow: var(--md-sys-color-shadow-dark);
  --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-dark);
  --md-sys-color-outline-variant: var(--md-sys-color-outline-variant-dark);
  --md-sys-color-scrim: var(--md-sys-color-scrim-dark);
}