@tailwind base;
@tailwind components;
@tailwind utilities;

/* material symbols class */
span.symbol {
  font-family: var(--font-family-symbols);
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
}

/* load material tokens into the root */
:root {
  /* light */
  --md-sys-color-primary-light: #000000;
  --md-sys-color-primary-light-rgb: 0 0 0;
  --md-sys-color-on-primary-light: #FFFFFF;
  --md-sys-color-primary-container-light: #000000;
  --md-sys-color-on-primary-container-light: #FFFFFF;
  --md-sys-color-secondary-light: #000000;
  --md-sys-color-on-secondary-light: #FFFFFF;
  --md-sys-color-secondary-container-light: #DDDDDD;
  --md-sys-color-on-secondary-container-light: #0C0C0C;
  --md-sys-color-tertiary-light: #FFFFFF;
  --md-sys-color-on-tertiary-light: #000000;
  --md-sys-color-tertiary-container-light: #D8E2FF;
  --md-sys-color-on-tertiary-container-light: #001947;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #FDFDFD;
  --md-sys-color-background-light-rgb: 253 253 253;
  --md-sys-color-on-background-light: #222222;
  --md-sys-color-surface-light: #FDFDFD;
  --md-sys-color-surface-container-lowest-light: #ffffff;
  --md-sys-color-surface-container-low-light: #f3f3f3;
  --md-sys-color-surface-container-light: #eeeeee;
  --md-sys-color-surface-container-high-light: #e8e8e8;
  --md-sys-color-surface-container-highest-light: #e2e2e2;
  --md-sys-color-on-surface-light: #222222;
  --md-sys-color-surface-variant-light: #EDEDED;
  --md-sys-color-on-surface-variant-light: #515151;
  --md-sys-color-outline-light: #838383;
  --md-sys-color-inverse-on-surface-light: #F4F4F4;
  --md-sys-color-inverse-surface-light: #333333;
  --md-sys-color-inverse-primary-light: #A6A6A6;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #006a64;
  --md-sys-color-outline-variant-light: #bebebe;
  --md-sys-color-scrim-light: #000000;
  /* dark */
  --md-sys-color-primary-dark: #FFFFFF;
  --md-sys-color-primary-dark-rgb: 255 255 255;
  --md-sys-color-on-primary-dark: #5A5A5A;
  --md-sys-color-primary-container-dark: #FFFFFF;
  --md-sys-color-on-primary-container-dark: #000000;
  --md-sys-color-secondary-dark: #FFFFFF;
  --md-sys-color-on-secondary-dark: #5A5A5A;
  --md-sys-color-secondary-container-dark: #717171;
  --md-sys-color-on-secondary-container-dark: #E4E4E4;
  --md-sys-color-tertiary-dark: #000000;
  --md-sys-color-on-tertiary-dark: #FFFFFF;
  --md-sys-color-tertiary-container-dark: #00419E;
  --md-sys-color-on-tertiary-container-dark: #D8E2FF;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #000000;
  --md-sys-color-background-dark-rgb: 30 30 30;
  --md-sys-color-on-background-dark: #E6E6E6;
  --md-sys-color-surface-dark: #1E1E1E;
  --md-sys-color-surface-container-lowest-dark: #0e0e0e;
  --md-sys-color-surface-container-low-dark: #1b1b1b;
  --md-sys-color-surface-container-dark: #1f1f1f;
  --md-sys-color-surface-container-high-dark: #2a2a2a;
  --md-sys-color-surface-container-highest-dark: #353535;
  --md-sys-color-on-surface-dark: #E6E6E6;
  --md-sys-color-surface-variant-dark: #4E4E4E;
  --md-sys-color-on-surface-variant-dark: #D1D1D1;
  --md-sys-color-outline-dark: #999999;
  --md-sys-color-inverse-on-surface-dark: #1E1E1E;
  --md-sys-color-inverse-surface-dark: #E6E6E6;
  --md-sys-color-inverse-primary-dark: #CECECE;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #50dbd0;
  --md-sys-color-outline-variant-dark: #474747;
  --md-sys-color-scrim-dark: #000000;
}

/* load light theme */
:root {
  --md-sys-color-primary: var(--md-sys-color-primary-light);
  --md-sys-color-primary-rgb: var(--md-sys-color-primary-light-rgb);
  --md-sys-color-on-primary: var(--md-sys-color-on-primary-light);
  --md-sys-color-primary-container: var(--md-sys-color-primary-container-light);
  --md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-light);
  --md-sys-color-secondary: var(--md-sys-color-secondary-light);
  --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-light);
  --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-light);
  --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-light);
  --md-sys-color-tertiary: var(--md-sys-color-tertiary-light);
  --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-light);
  --md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-light);
  --md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-light);
  --md-sys-color-error: var(--md-sys-color-error-light);
  --md-sys-color-on-error: var(--md-sys-color-on-error-light);
  --md-sys-color-error-container: var(--md-sys-color-error-container-light);
  --md-sys-color-on-error-container: var(--md-sys-color-on-error-container-light);
  --md-sys-color-outline: var(--md-sys-color-outline-light);
  --md-sys-color-background: var(--md-sys-color-background-light);
  --md-sys-color-background-rgb: var(--md-sys-color-background-light-rgb);
  --md-sys-color-on-background: var(--md-sys-color-on-background-light);
  --md-sys-color-surface: var(--md-sys-color-surface-light);
  --md-sys-color-surface-container-lowest: var(--md-sys-color-surface-container-lowest-light);
  --md-sys-color-surface-container-low: var(--md-sys-color-surface-container-low-light);
  --md-sys-color-surface-container: var(--md-sys-color-surface-container-light);
  --md-sys-color-surface-container-high: var(--md-sys-color-surface-container-high-light);
  --md-sys-color-surface-container-highest: var(--md-sys-color-surface-container-highest-light);
  --md-sys-color-on-surface: var(--md-sys-color-on-surface-light);
  --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-light);
  --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-light);
  --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-light);
  --md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-light);
  --md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-light);
  --md-sys-color-shadow: var(--md-sys-color-shadow-light);
  --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-light);
  --md-sys-color-outline-variant: var(--md-sys-color-outline-variant-light);
  --md-sys-color-scrim: var(--md-sys-color-scrim-light);
}
/* override light theme with dark theme */
[data-theme='dark'] {
  --md-sys-color-primary: var(--md-sys-color-primary-dark);
  --md-sys-color-primary-rgb: var(--md-sys-color-primary-dark-rgb);
  --md-sys-color-on-primary: var(--md-sys-color-on-primary-dark);
  --md-sys-color-primary-container: var(--md-sys-color-primary-container-dark);
  --md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-dark);
  --md-sys-color-secondary: var(--md-sys-color-secondary-dark);
  --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-dark);
  --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-dark);
  --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-dark);
  --md-sys-color-tertiary: var(--md-sys-color-tertiary-dark);
  --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-dark);
  --md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-dark);
  --md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-dark);
  --md-sys-color-error: var(--md-sys-color-error-dark);
  --md-sys-color-on-error: var(--md-sys-color-on-error-dark);
  --md-sys-color-error-container: var(--md-sys-color-error-container-dark);
  --md-sys-color-on-error-container: var(--md-sys-color-on-error-container-dark);
  --md-sys-color-outline: var(--md-sys-color-outline-dark);
  --md-sys-color-background: var(--md-sys-color-background-dark);
  --md-sys-color-background-rgb: var(--md-sys-color-background-dark-rgb);
  --md-sys-color-on-background: var(--md-sys-color-on-background-dark);
  --md-sys-color-surface: var(--md-sys-color-surface-dark);
  --md-sys-color-surface-container-lowest: var(--md-sys-color-surface-container-lowest-dark);
  --md-sys-color-surface-container-low: var(--md-sys-color-surface-container-low-dark);
  --md-sys-color-surface-container: var(--md-sys-color-surface-container-dark);
  --md-sys-color-surface-container-high: var(--md-sys-color-surface-container-high-dark);
  --md-sys-color-surface-container-highest: var(--md-sys-color-surface-container-highest-dark);
  --md-sys-color-on-surface: var(--md-sys-color-on-surface-dark);
  --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-dark);
  --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-dark);
  --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-dark);
  --md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-dark);
  --md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-dark);
  --md-sys-color-shadow: var(--md-sys-color-shadow-dark);
  --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-dark);
  --md-sys-color-outline-variant: var(--md-sys-color-outline-variant-dark);
  --md-sys-color-scrim: var(--md-sys-color-scrim-dark);
}