a {
  text-decoration: none;
  
  color: #03a1fc;
  
}

a.dataset-entry {
  
  word-break: break-all;
  
}

.about-content {
  padding: 0px 10px 10px 10px;
}

.main-title {
  padding: 10px 5px 5px 5px;
}