a {
  text-decoration: none;
  
  color: #03a1fc;
}

a.dataset-entry {
  
  word-break: break-all;
  
}

.section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card {
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
  background-color: var(--md-sys-color-surface-2);
  display: flex;
  flex-direction: column;
  gap: 10px;
}