.artist-info-cover {
    border-radius: 10px;
    height: 150px;
    width: 150px;
    object-fit: contain;
}

#home-button {
    top: calc(100% - 40px);
}

.songs-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#songs .content-grid {
    gap: 10px;
}

#info-header {
    background-color: transparent; 
}