.artist-info-cover {
    border-radius: 10px;
    height: 150px;
    width: 150px;
    object-fit: contain;
}

.songs-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#songs .content-grid {
    gap: 10px;
}

#more-songs-button {
  margin: auto;
}