/* layout stuff */
html {
    overflow: hidden;
}

#page-wrap,
body {
    display: flex;
    flex-direction: column;
}
#page-wrap {
    flex: 1;
    overflow: scroll;
    height: 100%;
}

.page-row {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

#nav-bar {
    padding: 10px 20px;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    background-color: var(--md-sys-color-background);
    z-index: 5;
}

#page-content {
    min-height: initial !important;
}

#nav-bar::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
    width: 100%;
    height: 100%;
    background-color: var(--md-sys-color-surface-1-2);
}

#nav-content {
    width: 100%;
    height: 45px;
    gap: 10px;
    position: relative;
    z-index: 8;
    margin: auto;
}

#nav-title {
    height: 100%;
    flex: 2.2;
    display: flex;
    align-items: center;
    text-align: left;
    font-weight: bold;
    color: var(--md-sys-color-on-surface)
}

#nav-title a {
    text-decoration: none;
    color: inherit;
}

/* drawer toggle style */
#drawer-toggle {
    display: none;
}

#drawer-toggle-icon {
    margin-right: 10px;
}
#drawer-toggle-icon:hover {
    cursor: pointer;
}

#nav-links {
    flex: 5;
    height: 100%;

    display: flex;
    gap: 30px;
}

.nav-link {
    text-decoration: none;
    color: var(--md-sys-color-on-surface);
    transition-property: color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--cubic-tween);
}

.nav-link:hover {
    color: var(--md-sys-color-primary)
}

#nav-search {
    flex: 2.2;
    height: 100%;
}

#nav-search-form,
#nav-drawer-search-form {
    flex: 1;
    display: flex;
    height: 100%;
    color: var(--md-sys-color-on-surface);
}

#nav-search-query,
#nav-drawer-search-query {
    width: 80%;
    height: 100%;
    flex: 0.8;
    background-color: var(--md-sys-color-background);
    border: 1px solid var(--md-sys-color-outline-variant);
    box-sizing: border-box;
    color: inherit;
    border-radius: 60px 0px 0px 60px;
    padding: 0px 15px;
}

#nav-search-submit,
#nav-drawer-search-submit {
    width: 20%;
    flex: 0.2;
    background-color: var(--md-sys-color-surface-1);
    border: 1px solid var(--md-sys-color-outline-variant);
    border-left: none;
    border-radius: 0px 60px 60px 0px;
    padding: 0px 15px;
    color: inherit
}

.nav-column-group {
    color: var(--md-sys-color-on-surface);
    display: flex;
    gap: 10px;
}

/* nav drawer stuff */
#nav-drawer {
    position: relative;
    overflow: scroll;
    z-index: 10;
    height: 100%;
    left: 0px; 
    top: 0px;
    width: 250px;

    background-color: var(--md-sys-color-background);

    transition-property: left;
    transition-duration: var(--transition-duration-long);
    transition-timing-function: var(--cubic-tween);
}

#nav-drawer-content {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    gap: 5px;
    z-index: 11;
    position: relative;
}

.nav-drawer-link-group {
    color: var(--md-sys-color-on-surface);
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    gap: 5px;
}

.nav-drawer-column-group {
    color: var(--md-sys-color-on-surface);
    display: flex;
    gap: 5px;
}

#nav-scrim {
    pointer-events: none;
    position: absolute;

    left: 0;
    top: 0;

    background-color: black;
    opacity: 0;
    z-index: 9;

    width: 100%;
    min-height: 100vh;
    transition-property: opacity;
    transition-duration: var(--transition-duration-long);
    transition-timing-function: var(--cubic-tween);
}

#nav-drawer-search-form {
    flex: 1;
    height: 50px;
    padding: 10px 10px 0px 10px;
    box-sizing: border-box;
}

#nav-drawer-settings-link {
    margin: 10px 0px 0px 10px;
}

.nav-drawer-link {
    color: inherit;
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    padding: 10px;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    position: relative;
}

.nav-drawer-link::before {
    background-color: var(--md-sys-color-on-surface-variant);
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -8px;

    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  
    opacity: 0;
    transition-property: opacity;
    transition-timing-function: var(--cubic-tween);
    transition-duration: var(--transition-duration)
}
  
.nav-drawer-link:hover::before {
    opacity: 0.08;
}

#drawer-toggle:checked ~ #nav-drawer {
    left: 0px;
}

#drawer-toggle:checked ~ #nav-scrim {
    pointer-events: all;
    opacity: 0.4;
}

#github-logo {
    height: 24px;
    width: 24px;
    color: var(--md-sys-color-on-surface)
}

@media (min-width: 970px) {
    #drawer-toggle-icon,
    #nav-scrim {
        display: none;
    }
}
@media (max-width: 970px) {
    #nav-drawer {
        left: -300px;
    }
}
@media (max-width: 390px) {
    #nav-drawer {
        width: 80%;
        left: -80%;
    }
}