/* material symbols */
.material-symbols-rounded {
  color: inherit;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

html {
  --transition-duration: 0.15s;
  --transition-duration-long: 0.2s;
  --transition-duration-300ms: 0.3s;
  --cubic-tween: cubic-bezier(.4,0,.6,1);
}

body {
  
  margin: 0px;
  
  background-color: var(--body-color);
  
}

@keyframes pagein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#page-content {
  
  /*margin: 15px 10px;*/
    
  min-height: 100vh;
  animation-duration: 0.3s;
  animation: pagein var(--transition-duration-300ms) var(--cubic-tween);
  animation-fill-mode: forwards;
  
}

/* footer */
#footer-main {
  
  background-color: var(--md-sys-color-surface-1-2);
  
  width: 100%;
  height: 100px;
  margin-top: 15px;
  
}

.footer-link-container {
  
  height: 100%;
  width: 100%;
  
  display: flex;
  flex-wrap: wrap;
  
  justify-content: center;
  align-items: center;

  gap: 0px 25px;
  
  margin: auto;
  
}


.footer-link {
  
  text-decoration: none;

  color: var(--md-sys-color-on-surface);
  
}

.footer-link:hover {
 
  color: var(--md-sys-color-primary)
  
}

/* flexes */
.centering-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-divider {
    flex-grow: 1;
    padding:   0;
    margin:    0;
}

/* item spacers */
 .item-spacer-right > * {
    margin-right: 10px;
 }
 .item-spacer-right > *:last-child {
    margin-right: 0px;
 }

/* text stuff */
  .text {

      font-size: 1.2em;
      font-family: var(--font-family);
      color: var(--text-color);

  }

  .text.sub {
    font-size: 1em;
  }

  .text.rounded {
    
    padding: 4px 15px;
    border-radius: 10px;
    border: 1px solid var(--hover-color);
    color: var(--text-color);
    background-color: var(--body-color-2);
    width: fit-content;
    height: fit-content;

  }

  .text.centered, .text-centered {
      text-align: center;
  }

  .text.title,
  .text.rounded,
  .bold {
      font-weight: bold;
  }

  .text.nowrap {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
  }

  .text.title {

      font-size: 2em;

  }

  .text.sub-title {

      font-size: 1.5em;

      font-weight: 400;

  }


  .text.error {
    
    color: rgb(255,0,0)
    
  }  

/* lists */
  .list {

      display: flex;
      justify-content: flex-start;

  }

  .list.centered {
      justify-content: center;
  }

  .list.vertical {

      flex-direction: column;

  }

  .list.horizontal {

      flex-direction: row;


  }

  .list.sub-section {

      margin-left: 10px;

  }

  .list.vertical > * {
      margin-bottom: 10px;
  }

  .list.vertical > *:last-child {
      margin-bottom: 0px;
  }

/* buttons 
button, a.button-link {
  
  transition-property: filter, color, background-color;
  transition-duration: var(--transition-duration);
  
}

button.rounded-button, 
a.button-link.rounded-button {
  
  border: none;
  
  background-color: var(--md-sys-color-inverse-surface);
  color: var(--md-sys-color-inverse-on-surface);
  
  padding: 5px 5px;
  
  border-radius: 50px;
  
}

button.rounded-button:hover, 
a.button-link.rounded-button:hover {
  
  filter: brightness(0.8);
  cursor: pointer;
  
}


a.button-link {
  text-decoration: none;
  text-align: center;
}

button.selection-button, a.button-link.selection-button {
  
  border: 1px solid var(--hover-color);
  padding: 5px;
  
  background-color: var(--body-color-2);
  color: var(--text-color)
  
}

button.selection-button.active, a.button-link.selection-button.active {
  
  background-color: var(--text-color);
  color: var(--body-color-2)
  
}

button:hover:not(.active):not(.rounded-button), 
a.button-link:hover:not(.active):not(.rounded-button) {
  background-color: var(--md-sys-color-surface-variant);
  cursor: pointer
  
}*/

  /* floating button */

  .floating {
    position: absolute !important;
  }

  .floating.top {
    
    top: 5px;
    
  }

  .floating.left {
    
    left: 5px;
    
  }

/* input */

.tab-items {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: flex-end;
}

input.radio-tab {
  display: none;
}

.tab-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 15px 5px
}

.radio-tab-content {
  display: none !important;
  width: 100%;
}


input.radio-tab + label {
  font-size: 1.2em;
  box-shadow: var(--box-shadow);
  padding: 4px 15px;
  box-sizing: border-box;
  border: 1px solid var(--md-sys-color-outline);
  color: var(--md-sys-color-on-surface);
  border-radius: 10px;
  transition-property: filter, color, background-color;
  transition-duration: var(--transition-duration);
}

input.radio-tab:checked + label {
  border: 1px solid var(--md-sys-color-inverse-surface);
  background-color: var(--md-sys-color-inverse-surface);
  color: var(--md-sys-color-inverse-on-surface);
}

input.radio-tab:not(:checked) + label:hover {
  background-color: var(--md-sys-color-surface-1);
  cursor: pointer;
}

input[type="url"] {
  
  border: 1px solid var(--md-sys-color-outline);
  background-color: transparent;
  color: var(--md-sys-color-on-surface);

  border-radius: 10px;
  
  padding: 10px 10px;
  
  box-sizing: border-box;
  
  font-size: 1.2em;
}

input.login-input[type="text"],
input.login-input[type="password"] {
  border: 1px solid var(--md-sys-color-outline);
  background-color: transparent;
  color: var(--md-sys-color-on-surface);

  border-radius: 10px;
  
  padding: 10px 10px;
  
  box-sizing: border-box;
  
  font-size: 1.2em;
}

/* details */
details {
  border: 1px solid var(--md-sys-color-outline);
  border-radius: 10px;
  list-style: outside;
}

details > summary {
  text-align: center;
  padding: 5px;
}

details > summary:hover {
  cursor: pointer;
}

details > *:not(summary) {
  padding: 0px 10px 10px 10px;
}

/* line breaks */
hr {
  width: 100%;
}

hr.default {
  color: var(--md-sys-color-outline-variant);
  box-sizing: border-box;
}

/* containers */
.page-card-container {
  max-width: 500px;
  box-sizing: border-box;
  width: 100%;
  
  position: relative;
  
  background-color: var(--md-sys-color-surface-1);
  border-radius: 10px;
  
  box-shadow: var(--box-shadow);
  
  margin: 50px auto auto auto;
}

.page-card-container .title,
.page-card-container .sub-title {
  text-align: center;
  padding: 10px;
}

/* material stuff */
.icon-button {
  background: none;
  border: none;
  box-sizing: border-box;
  position: relative;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--md-sys-color-on-surface-variant);
}

.material-button {
  border: none;
  box-sizing: border-box;
  position: relative;
  border-radius: 20px;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-decoration: none;
  padding: 0px 24px;
  color: var(--md-sys-color-on-surface-variant);
}

.material-button.with-icon {
  padding: 0px 24px 0px 16px
}

.material-button.with-icon .material-symbols-rounded {
  font-size: 18px;
}

.icon-button::before,
.material-button::before {
  background-color: var(--md-sys-color-on-surface-variant);
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  opacity: 0;
  transition-property: opacity;
  transition-timing-function: var(--cubic-tween);
  transition-duration: var(--transition-duration)
}

.icon-button:hover:not(.active)::before,
.material-button:hover:not(.active)::before {
  opacity: 0.08;
  cursor: pointer;
}

.filled.icon-button,
.filled.material-button {
  background-color: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
}
.filled.icon-button::before,
.filled.material-button::before {
  background-color: var(--md-sys-color-on-primary);
}

.filled-tonal.icon-button,
.filled-tonal.material-button {
  background-color: var(--md-sys-color-secondary-container);
  color: var(--md-sys-color-on-secondary-container);
}
.filled-tonal.icon-button::before,
.filled-tonal.material-button::before {
  background-color: var(--md-sys-color-on-secondary-container);
}

.outlined.icon-button:not(.selected),
.outlined.material-button:not(.selected) {
  color: var(--md-sys-color-on-surface-variant);
  border: 1px solid var(--md-sys-color-outline);
}
.outlined.icon-button:not(.selected)::before
.outlined.material-button:not(.selected)::before {
  background-color: var(--md-sys-color-on-surface-variant);;
}

.outlined.icon-button.selected,
.outlined.material-button.selected {
  background-color: var(--md-sys-color-inverse-surface);
  color: var(--md-sys-color-inverse-on-surface);
}
.outlined.icon-button.selected::before,
.outlined.material-button.selected::before {
  background-color: var(--md-sys-color-inverse-on-surface);;
}

.inverse.icon-button.selected,
.inverse.material-button {
  background-color: var(--md-sys-color-inverse-surface);
  color: var(--md-sys-color-inverse-on-surface);
}

.inverse.icon-button.selected::before,
.inverse.material-button::before {
  background-color: var(--md-sys-color-inverse-on-surface);
}

/* surfaces */
.surface {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
}

.surface.level-1 {
  background-color: var(--md-sys-color-surface-1);
}
.surface.level-1-2 {
  background-color: var(--md-sys-color-surface-1-2);
}
.surface.level-2 {
  background-color: var(--md-sys-color-surface-2);
}

/* chips */
.chip {
  border-radius: 8px;
  display: flex;
  height: 32px;
  width: fit-content;
  padding: 0px 10px;
  position: relative;
  gap: 8px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  max-width: 100%;
  box-sizing: border-box;
}

.chip::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: var(--cubic-tween);
  transition-duration: var(--transition-duration)
}

.chip .text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chip:hover:not(.active)::before {
  cursor: pointer;
  opacity: 0.08;
}

.chip .material-symbols-rounded {
  font-size: 18px;
}

.chip.with-trailing {
  padding-right: 8px;
}

.chip.with-leading {
  padding-left: 8px;
}

.input.chip {
  color: var(--md-sys-color-on-surface-variant);
  border: 1px solid var(--md-sys-color-outline);
}
.input.chip::before {
  background-color: var(--md-sys-color-on-surface-variant);
}

.filter.chip {
  color: var(--md-sys-color-on-surface-variant);
  border: 1px solid var(--md-sys-color-outline);
  padding: 0px 10px;
}
.filter.chip::before {
  background-color: var(--md-sys-color-on-surface-variant);
}
.filter.chip .leading {
  display: none;
}
.filter.chip.active,
input[type="radio"]:checked + .filter.chip {
  color: var(--md-sys-color-on-secondary-container);
  background-color: var(--md-sys-color-secondary-container);
  border: none;
  padding-left: 8px;
}
.filter.chip.active::before,
input[type="radio"]:checked + .filter.chip::before {
  background-color: var(--md-sys-color-on-secondary-container);
}
.filter.chip.active .leading,
input[type="radio"]:checked + .filter.chip .leading {
  display: inline-block;
}


.chip-group {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

/* dropdowns */
select {
  width: 100%;
  border-radius: 10px;
  padding: 8px;
  background-color: transparent;
  color: var(--md-sys-color-on-surface-variant);
  border: 1px solid var(--md-sys-color-outline);
}
select option {
  color: var(--md-sys-color-on-surface);
  background-color: var(--md-sys-color-surface-1);
}
select::-ms-expand {
  display: none;
}

/* misc */
.noselect {
  user-select: none;
}