.filter-content {
  
  padding: 10px;
  
}

/* section stuff */
  .form-section {

    flex-direction: column

  }

  .form-section > * {
    margin-bottom: 5px;
  }
  .form-section > *:last-child {
    margin-bottom: 0px;
  }

/* form inputs/labels */

#filter-form {
  
  margin-bottom: 0px;
  
}

input[type="date"] {
  border-radius: 10px;
  border: 1px solid var(--md-sys-color-outline);
  padding: 4px 15px;
  background-color: transparent;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  
  border: 1px solid var(--md-sys-color-outline);
  padding: 4px 15px;
  
  box-sizing: border-box;
  
  color: var(--md-sys-color-on-surface);
  border-radius: 10px;
  
  transition-property: filter, color, background-color;
  transition-duration: var(--transition-duration);
  
}

input[type="radio"]:not(:checked) + label:hover {
  
  background-color: var(--md-sys-color-surface-1);
  cursor: pointer;
  
}

input[type="radio"]:checked + label {

  border: 1px solid var(--md-sys-color-inverse-surface);
  background-color: var(--md-sys-color-inverse-surface);
  color: var(--md-sys-color-inverse-on-surface);
  
}

input[type="url"] {
  width: 100%;
}

.form-radio-container {
  
  display: flex;
  flex-wrap: wrap;
  
}

.form-radio-container label {
  
  margin-right: 5px;
  margin-bottom: 5px;
  
}

.form-radio-container label:last-child {
  
  margin-right: 0px;
  
}

/* submit button container */
.submit-container {
  
  margin-top: 10px;
  
  width: 100%;
  
}

.submit-container button {
  
  width: 100%;
  
  font-size: 1.3em
  
}