/* animations */
@keyframes endless-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}


#rankings-list, .rankings-list, .top-controls-button, .applied-filter {
  
  background-color: var(--md-sys-color-surface-1);

  color: var(--md-sys-color-on-surface);

  box-shadow: var(--box-shadow)
  
}

.top-controls-button, .applied-filter {
  
  color: var(--md-sys-color-on-surface);

  border-radius: 50px;
  
}

#rankings-list, .rankings-list {
  
  width: 100%;
  display: flex;
  flex-direction: column;
  
  border-radius: 10px;

}

#rankings-list {
  margin-bottom: 15px;
}

#rankings-list > *:last-child, .rankings-list > *:last-child {
  
  border-radius: 0px 0px 10px 10px;
  
}

#rankings-list > *:nth-child(odd):not(.rankings-list-header), .rankings-list > *:nth-child(odd):not(.rankings-list-header) {
  
  background: var(--md-sys-color-surface-1)
  
}

/* rankings list entries */

.rankings-list-entry, .rankings-list-header {
  
  background: none;
  
  padding: 0px 10px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.rankings-list-header {
  
  min-height: 56px;
  
}

.rankings-list-header > .rankings-list-entry-item {
  
  font-weight: bold;
  
  padding: 5px 15px;
  
}


/* rankings list entry items */
.rankings-list-entry-item {
  
  padding: 15px;
  text-align: center;
  
}

.cover, .rank, .change {
  
  flex: 1;
  padding: 0px !important;
  height: 40px;
  min-width: 40px;
  max-width: 40px;
  position: relative;
  
}


.change {
  display: flex;
  margin-left: 5px;
}

.change > .material-symbols-rounded {
  height: 80%;
  width: 80%;
  margin: auto;
  
  background-color: var(--md-sys-color-on-surface);
  color: var(--md-sys-color-surface);
  border-radius: 50%;
  display: flex;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.change.UP > .material-symbols-rounded {
  
  background-color: #00d084;
  color: #ffffff;
  
}

.change.DOWN > .material-symbols-rounded {
  
  background-color: #cf2e2e;
  color: #ffffff;
  
}

.cover {
    
  margin-left: 10px;
  
}

.rankings-list-entry .cover {
  
  width: 40px;

  box-sizing: border-box;
  
  border-radius: 10px;
  
  background-size: auto 60px;
  background-position: center;
  
  border: 1px solid var(--md-sys-color-surface-1)
  
}

.rank {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  
  flex: 5;
  text-align: left;
  
}

.title > a {
  
  text-decoration: none;
  color: inherit;
  
}

.title > a:hover {
  color: var(--md-sys-color-primary)
}

.views {
  
  flex: 1;
  
  text-align: right;
  
}

/* top container */
#top-container {
  width: 100%;
  height: auto;
  
  display: flex;
  
  max-width: 100%;
  
  flex-wrap: wrap;
  
}

/* view type filter */
#top-controls-container {
  
  height: 40px;
  flex: 1;
  
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  
  margin-bottom: 10px;
  
}

#top-controls-container > * {
  margin-right: 10px;
}

#top-controls-container > *:last-child {
  margin-right: 0px;
}

.top-controls-button {
  
  padding: 5px;
  
  box-sizing: border-box;
  
  display: flex;
  
  min-width: 40px;
  width: fit-content;
  height: 100%;

  gap: 5px;

  color: var(--md-sys-color-on-surface);
  
  justify-content: center;
  align-items: center;
  
}

.top-controls-button.with-text {
  padding: 5px 10px;
}

.top-controls-button .material-icons {
  
  color: inherit !important;
  font-size: 1.3em;
    
}

.top-controls-button .text {
  
  font-size: 0.95em;
  
  margin: 0px 5px;
  
  color: inherit !important;
  
}

/* rankings refresh display */
#rankings-refresh-label {
  box-shadow: none;
  position: relative;
  overflow: clip;
}

#rankings-refresh-label .material-symbols-rounded {
  animation: endless-rotate 1s linear infinite;
}

#rankings-refresh-label-background {
  position: absolute;
  height: 100%;
  left: 0;
  transition-duration: var(--transition-duration);
  transition-property: width;
  transition-timing-function: var(--cubic-tween);
}

/* applied filters */
#applied-filters-container {
  
  min-width: 50%;
  overflow-y: auto;

  height: 40px;
  flex: 1;
  
  margin: 0px 10px 10px 0px;
  
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  
}

#applied-filters-container > * {
  margin-right: 10px;
}

#applied-filters-container > *:last-child {
  margin-right: 0px;
}

.applied-filter {
  
  padding: 5px 15px;
  
  height: 100%;
  width: auto;
  
  height: 40px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  
  font-weight: normal !important;
  
}

/* page selector */
#page-selector-container {
  
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#page-selector-container .material-symbols-rounded {
  color: var(--md-sys-color-on-background);
}

#page-selector-container > * {
  margin-right: 10px;
}

#page-selector-container > *:last-child {
  margin-right: 0px;
}

.page-change-button {
  height: 100%;
  width: 40px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  color: var(--md-sys-color-on-background);
  
  border-radius: 50px;
}

.page-change-button .material-symbols-rounded {
  
  color: inherit;
  font-size: 1.6em;
    
}

.page-jump-button {
  
  height: 100%;
  width: 40px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  border-radius: 50px;
  background: var(--md-sys-color-surface-1);
  
  color: var(--md-sys-color-on-surface);
  
}

.page-jump-button .text {
  color: inherit;
}

.page-jump-button.active {
  
  background: var(--md-sys-color-on-background);
  color: var(--md-sys-color-background)
  
}

/* banners */
.banner {
  height: 40px;
  width: 100%;
  text-decoration: none;
  gap: 10px;
  border-radius: 10px;
  margin-bottom: 10px;

  padding: 5px;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow);
}

.banner .text {
  color: inherit;
}

/* misc */
#page-title {
  margin: 10px 0px 5px 0px;
}

#midpage {
  
  width: 100%;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
  
}