#search-header,
#search-results {
    max-width: 1028px;
    padding: 0px 20px 0px 20px;
    margin: 20px auto 20px auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

#search-results {
    justify-content: center;
}

#search-header-top {
    width: 100%;
    display: flex;
    gap: 20px;
    position: relative;
    align-items: center;
}

#search-form {
    width: 100%;
}

#search-form .search-bar {
    background-color: var(--md-sys-color-surface-2);
}

#no-results-text {
    text-align: center;
}