#nav-bar {
  background-color: rgb(var(--md-sys-color-background-rgb) / 0.35);
  position: absolute;
  width: 100%;
}

.song-info-cover {
  border-radius: 10px;
  height: 150px;
  width: 270px;
  object-fit: cover;
  margin-top: -95px;
}

/* views breakdown */
#views-breakdown-section {
  overflow: hidden;
}
#views-breakdown .content {
  box-sizing: border-box;
  overflow: scroll hidden;
  padding: 15px;
  display: flex;
  column-gap: 15px;
  align-items: center;
  justify-content: center;
  height: 125px;
}

#views-breakdown .content .section {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  row-gap: 10px;
}

#views-breakdown .content .section .label {
  padding: 5px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
}

#views-breakdown .share-container {
  width: 100%;
  height: 25px;
  padding: 0px 10px 10px 10px;
  box-sizing: border-box;
}

#views-breakdown .share-container .share-bar {
  border-radius: 8px;
  overflow: clip;
  display: flex;
  height: 100%;
  box-sizing: border-box;
}

#views-breakdown .share-container .share-bar .share {
  height: 100%;
}

/* bar graph */
.views-bar-graph {
  
  position: relative;
  
  display: flex;
  
  padding: 10px;
  
  border-radius: 10px;
  
  box-sizing: border-box;
  
  height: 150px;
  flex-direction: row-reverse;
}

.views-bar-graph > * {
  margin-right: 5px;
  
}

.views-bar-graph > *:first-child {
  margin-right: 0px;
}

.views-bar-graph::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  
  width: 100%;
  height: 70%;
  
  /*background-image: linear-gradient(to bottom, var(--md-sys-color-outline) 1px, transparent 1px);
  background-size: 20px 30px;*/
}

.views-bar-graph-entry {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  justify-content: flex-end;
  z-index: 2;
  min-width: 30px;
}

.views-bar-graph-entry .share {
  width: 20px;
  background-color: var(--md-sys-color-primary);
  border-radius: 50px;
  box-sizing: border-box;
  margin-bottom: 5px;
}

.views-bar-graph-entry .count {
  text-align: center;
}
.views-bar-graph-entry .date {
  text-align: center;
}

/* video player */
#youtube-player {
  width: 100%;
  border-radius: 10px;
}

/* listen */
#listen {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px
}

.listen-group {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  gap: 20px
}

.listen-link {
  flex: 1;
  box-sizing: border-box;
}

/* placement cards */

#song-sidebar-placements {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.placement-card div {
  flex: 1;
  color: inherit;
}

.placement-card.views .material-symbols-rounded {
  color: var(--md-sys-color-secondary);
}

/* song actions */
#song-actions {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: 20px;
}

/* media queries */
@media (min-width: 1320px) {
  .content-grid {
    grid-template-columns: 1fr 1fr;
  }

  .content-card,
  .clickable-content-card {
    width: 337px;
  }
}
@media (max-width: 1319px) {
  .card-grid,
  .content-grid {
    grid-template-columns: 1fr 1fr;
  }

}
@media (max-width: 962px) {
  .content-grid,
  .card-grid {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 650px) {
  #song-info-container {
    grid-template-columns: 1fr;
  }

  #outgoing-vocadb-link-sidebar {
    display: none;
  }

  #outgoing-vocadb-link {
    display: inline-block;
  }

  #song-info-sidebar {
    overflow: hidden;
  }

  #song-sidebar-info {
    overflow: scroll hidden;
    flex-direction: row;
  }

  #song-sidebar-placements {
    flex-direction: row;
    overflow: scroll hidden;
  }

  .placement-card {
    white-space: nowrap;
  }

  .sidebar-card-dataset {
    white-space: nowrap;
  }

}