#nav-bar {
  background-color: rgb(var(--md-sys-color-background-rgb) / 0.35);
  position: absolute;
  width: 100%;
}

.song-info-cover {
  border-radius: 10px;
  height: 150px;
  width: 270px;
  object-fit: cover;
  margin-top: -95px;
}

/* video player */
#youtube-player {
  width: 100%;
  border-radius: 10px;
}

/* listen */
#listen {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px
}

.listen-group {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  gap: 20px
}

.listen-link {
  flex: 1;
  box-sizing: border-box;
}

/* placement cards */

#song-sidebar-placements {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.placement-card div {
  flex: 1;
  color: inherit;
}

.placement-card.views .material-symbols-rounded {
  color: var(--md-sys-color-secondary);
}

/* song actions */
#song-actions {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: 20px;
}

