.section-title {
    margin-bottom: 15px;
    width: 100%;
}

.rankings-list:not(.radio-tab-content) {
    margin-bottom: 20px;
}

.rankings-list-entry-item.title {
    display: flex;
    gap: 8px;
    flex-direction: column;
    flex-wrap: wrap;
}


.rankings-list-entry-item-producers {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.rankings-list-entry-item-producers a {
    text-decoration: none;
    color: inherit;
}

.rankings-list-entry-item.title .producer {
    font-size: 0.8em;
    opacity: 0.8;
}

.rankings-list-entry-item.title .producer:hover {
    opacity: 1;
}

#see-all-button {
    font-size: 1.4em !important;
    padding: 5px 10px;
    margin-bottom: 20px;
}

.cover {
    height: 45px !important;
    min-width: 45px !important;
    max-width: 45px !important;
    background-size: auto 65px !important;
}

.cover.Singer {
    background-position: top;
    background-repeat: no-repeat;
}

/* highlights */
#highlights-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;
}

.highlights-item {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
    overflow: clip;
    box-shadow: inset 0 0 150px #2f3133;

    min-width: 300px;
    flex: 1;
    min-height: 80px;
}

.highlights-item .thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(20px);
    box-sizing: border-box;
    border-radius: 10px;
    background-position: center;
}

.highlights-item .text {
    flex: 1;
    color: #ffffff;
    z-index: 2;
}

.highlights-item-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.highlights-item-description {
    font-size: 1em
}

/* artist cards */
.artist-list {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.artist-card {
    aspect-ratio: 1/1;
    background-color: var(--md-sys-color-surface-1);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    box-sizing: border-box;
    position: relative;
    min-width: 180px;
    flex: 1;
}

.artist-card-bg {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    background-size: contain;
}

.artist-card-info {
    position: absolute;
    width: 100%;
    height: fit-content;
    bottom: 0;
    right: 0;
    border-radius: 0px 0px 10px 10px;
    background-color: #1414147a;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    min-height: 30%;
    padding: 10px 0px;
    box-sizing: border-box;
}

.artist-card-info a {
    text-decoration: none;
    color: #ffffff;
}

.artist-card-info {
    text-align: center;
    color: #ffffff;
}

.artist-card-ranking {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--md-sys-color-secondary);
    color: var(--md-sys-color-on-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    /*box-shadow: 0 2px 20px #00000047*/;
}