<!DOCTYPE html>
<link rel="stylesheet" href="/css/about.css">
<div class="page-card-container">
  
  {{> back-button}}
  
  <div class="main-title text title">About</div>
  
  <div class="about-content">
    {{> default-hr}}    
    <div class="text sub-title bold">Data</div>
    <div class="text">
      All song data for this website is provided by <a href="https://vocadb.net">VocaDB</a>.
    </div>
    <div class="text">
      View data is acquired from the APIs provided by
      <a href=https://www.youtube.com>YouTube</a>,
      <a href="https://www.nicovideo.jp">Niconico</a>, and
      <a href="https://www.bilibili.com">bilibili</a>.
    </div>

    {{> default-hr}}

    <div class="text sub-title bold">Song IDs</div>
    <div class="text">
      Songs on this site use the same IDs as VocaDB songs, so for example:
    </div>
    <div class="text">
      Traffic Jam on VocaDB uses the URL <a href="https://vocadb.net/S/251205">https://vocadb.net/S/251205</a>.
    </div>
    <div class="text">
      Here, Traffic Jam uses the URL <a href="https://vocaloid-rankings.glitch.me/song/251205">https://vocaloid-rankings.glitch.me/song/251205</a>.
    </div>
    <div class="text bold">
      Both use the ID "251205".
    </div>

    {{> default-hr}}

    <div class="text sub-title bold">Updates</div>
    <div class="text">
      View data is refreshed every day at <b>0:00 UTC</b>.
    </div>

    {{> default-hr}}
    
    <div class="list vertical">
      {{#each scrapeDomains}}

      <details>
        <summary class="text sub-title bold">{{@key}} Dataset</summary>
        {{#each ListURLs}}
          <div class="text">
            <a class="dataset-entry" href="{{../Domain}}{{this}}">{{this}}</a>
          </div>
        {{/each}}

      </details>
    {{/each}}
    </div>
    
  </div>

</div>