<link rel="stylesheet" href="/css/default_layout.css">
<div id="page-header">
  <div id="page-header-content">
    {{> back-button}}
    <div class="on-background-text headline-small">Account</div>
  </div>
</div>
<div id="page-body">
    {{#if canDownloadDatabase}}
        <a class="material-button outlined label-large" href="/download-db">Download Database</a>
    {{/if}}
    <a class="material-button inverse label-large" href="/logout?referer=/">Logout</a>
</div>