<!DOCTYPE html>
<link rel="stylesheet" href="../css/rankingsFilter.css">
<div class="page-card-container">
  
  {{> back-button}}
  
  <div class="text title">Add a Song</div>
  
  <form id="filter-form" action="/song/add" method="get" target="_self" class="filter-content list vertical">
  
    <div>
      <input class="text" type="url" name="url" id="input-url" placeholder="https://vocadb.net/S/..." pattern="https://vocadb.net/S/.+" required>
      <div class="text sub error">{{errorMessage}}</div>
    </div>
    
    <div class="text">
      To add a song, go to <a href="https://vocadb.net">vocadb.net</a>, find the song that you wish to add, and put the URL of that page in the box above.
    </div>
    
    <div class="text">
      URLS must be in the format: 
      <div class="text bold sub">
      https://vocadb.net/S/(Numbers will be here)
      </div> 
    </div>
    
    {{> default-hr}}
    
    <div class="text">
      For example, to add the song "GETCHA!", you would put this URL into the box above: <a href="https://vocadb.net/S/293881">https://vocadb.net/S/293881</a>
    </div>
    
    {{> default-hr}}
    
    <div class="submit-container">
      <button class="rounded-button">Add Song</button>
    </div>
    
  </form>
  
</div>