<link rel="stylesheet" href="/css/home.css">
<div id="page-content">
    <div id="rankings-block" class="surface-block">
        <div id="rankings-block-fake-rankings">
            <div class="fake-rankings-entry">
                <div class="rank title-large">1</div>
                <div class="cover" style="background-image:url(/song/thumbnail/278267)"></div>
                <div class="title"></div>
                <div class="views"></div>
            </div>
            <div class="fake-rankings-entry">
                <div class="rank title-large">2</div>
                <div class="cover" style="background-image:url(/song/thumbnail/197929)"></div>
                <div class="title"></div>
                <div class="views"></div>
            </div>
            <div class="fake-rankings-entry">
                <div class="rank title-large">3</div>
                <div class="cover" style="background-image:url(/song/thumbnail/416174)"></div>
                <div class="title"></div>
                <div class="views"></div>
            </div>
        </div>
        <div id="rankings-block-body" class="on-surface-text">
            <div id="rankings-block-body-title"  class="title-large">
                <div id="rankings-block-body-logo">
                    {{> icon-svg}}
                </div>
                Vocaloid Rankings
            </div>
            <div class="body-large">
                Explore vocal-synth songs that are ranked based on their total view counts.
            </div>
            <div id="rankings-block-outgoing">
                <a class="material-button inverse label-large" href="/rankings">View Rankings</a>
            </div>
        </div>
    </div>
    <div id="artists-block">
        <div id="artists-block-body" class="on-surface-text">
            <div class="title-large">Artists</div>
            <div class="body-large">
                Interact with the most-viewed Vocaloids, CeVIO AI, producers, and more.
            </div>
            <div id="artists-block-body-outgoing">
                <a class="material-button inverse label-large" href="/rankings/singers">Singers</a>
                <a class="material-button inverse label-large" href="/rankings/producers">Producers</a>
            </div>
        </div>
        <div id="artists-block-display">
            <img class="artists-block-display-singer" src="https://static.vocadb.net/img/artist/mainThumb/1.png?v=32">
            <div id="artists-block-display-producers">
                <img class="artists-block-display-producer"
                    src="https://static.vocadb.net/img/artist/mainThumb/470.jpg?v=43">
                <img class="artists-block-display-producer"
                    src="https://static.vocadb.net/img/artist/mainThumb/65229.jpg?v=14">
            </div>
            <img class="artists-block-display-singer"
                src="https://static.vocadb.net/img/artist/mainThumb/83928.png?v=27">
        </div>
    </div>
    <div class="info-section">
        <div class="info-block on-surface-text">
            <div class="title-large">Trending Songs</div>
            <div class="body-large">
                Find your next favorite song by exploring songs that have been trending within the past day, week, or month.
            </div>
            <div class="info-block-outgoing">
                <a class="material-button inverse label-large" href="/rankings/trending">View Trending</a>
            </div>
        </div>
        <div class="info-block on-surface-text">
            <div class="title-large">Add a Song</div>
            <div class="body-large">
                Can't find a song? Add it to the website to begin tracking its views.
            </div>
            <div class="info-block-outgoing">
                <a class="material-button inverse label-large" href="/song/add">Add Song</a>
            </div>
        </div>
    </div>
    <div class="info-section">
        <div class="info-block on-surface-text">
            <div class="title-large">About</div>
            <div class="body-large">
                Want to know more about the site and how it works? Visit the about page.
            </div>
            <div class="info-block-outgoing">
                <a class="material-button inverse label-large" href="/about">View About</a>
            </div>
        </div>
        <div class="info-block on-surface-text">
            <div class="title-large">Settings</div>
            <div class="body-large">
                Looking for a change? Visit the settings page to change the website's theme, language, and more.
            </div>
            <div class="info-block-outgoing">
                <a class="material-button inverse label-large" href="/settings">View Settings</a>
            </div>
        </div>
    </div>
</div>