<!DOCTYPE html>
<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="/css/default_layout.css">
<div id="page-header">
  <div id="page-header-content">
    {{> back-button referer=referer}}
    <div class="on-background-text headline-small">Login</div>
  </div>
</div>
<div id="page-body">
  <form id="login-form" action="/login" method="post" target="_self" class="list vertical">
    <input type="text" class="login-input" id="username" name="username" placeholder="Username" spellcheck="false"
      required>
    <input type="password" class="login-input" id="password" name="password" placeholder="Password" required>
    <div class="on-background-text title-medium-large">
      <input type="checkbox" id="stay-logged-in" name="stayLoggedIn">
      <label for="stay-logged-in">Stay Logged In</label>
    </div>
    {{#if errorMessage}}
    <div class="title-medium-large error-text">{{errorMessage}}</div>
    {{/if}}
    <div class="login-container">
      <button class="material-button inverse label-large">Login</button>
    </div>
  </form>
</div>