<!DOCTYPE html>
<link rel="stylesheet" href="/css/rankingsV2.css">

<div id="rankings-content">

    <div id="rankings">
        {{#each list}}

            <div>
                
            </div>

        {{/each}}
    </div>
</div>