<div id="footer-main">
  <div class="footer-link-container">
    <a class="title-medium-large footer-link" href="/about">{{localization.about_page_title}}</a>
    <a class="title-medium-large footer-link" href="/song/add">{{localization.add_song}}</a>
    <a class="title-medium-large footer-link" href="https://github.com/Duosion/vocaloid-rankings">{{localization.footer_source_code}}</a>
    <a class="title-medium-large footer-link" href="https://discord.gg/By7z2kKVjx">{{localization.footer_community}}</a>
  </div>
</div>