<div id="footer-main">
  <div class="footer-link-container">
    
    <a class="text bold footer-link" href="../about">About</a>
    <a class="text bold footer-link" href="../song/add">Add Song</a>
    <a class="text bold footer-link" href="../rankings/year-review">Year in Review</a>
    
  </div>
</div>