<div id="footer-main">
  <div class="footer-link-container">
    <a class="title-medium-large footer-link" href="/about">About</a>
    <a class="title-medium-large footer-link" href="/song/add">Add Song</a>
    <a class="title-medium-large footer-link" href="https://github.com/Duosion/vocaloid-rankings">Source Code</a>
    <a class="title-medium-large footer-link" href="/rankings/year-review">Year in Review</a>
  </div>
</div>