<div id="nav-bar">
    <div id="nav-content" class="centering-flex">
        <div id="nav-title">
            <label for="drawer-toggle" id="drawer-toggle-icon" class="icon-button" style="margin-right: 10px;">
                <span class="material-symbols-rounded">menu</span>
            </label>
            <a href="/" class="title-medium-large">Vocaloid Rankings</a>
        </div>
    </div>
</div>
