<link rel="stylesheet" href="/css/nav.css">
<div id="nav-bar">
    <div id="nav-content" class="centering-flex">
        <div id="nav-icon" class="title-medium-large">Vocaloid Rankings</div>
        <div id="nav-links" class="centering-flex title-medium">
            <a class="nav-link" href="/rankings">Rankings</a>
            <a class="nav-link" href="/trending">Trending</a>
            <a class="nav-link" href="/singers">Singers</a>
            <a class="nav-link" href="/producers">Producers</a>
        </div>
        <div id="nav-search">
            <form id="nav-search-form" action="/search" method="get" target="_self">
                <input class="title-medium" name="searchQuery" id="nav-search-query" placeholder="Search" required>
                <button id="nav-search-submit">
                    <span class="material-symbols-rounded">search</span>
                </button>
            </form>
        </div>
    </div>
</div>