<div id="rankings-refresh-label" class="top-controls-button" title="Rankings Refreshing">
    <div id="surface-variant" style="width:{{percent databaseUpdating.progress}}"></div>
    <span class="material-symbols-rounded noselect">autorenew</span>
    <div id="rankings-refresh-label-progress" class="title-medium-large ">{{percent databaseUpdating.progress}}</div>
</div>
<script src="../js/rankings_refresh.js" defer></script>