<a class="banner" href="/rankings/year-review" style="background: radial-gradient(circle, rgb(143, 0, 255) 0%, rgb(137, 49, 205) 100%); color: #ffffff">
    <span class="material-symbols-rounded">star</span>
    <div class="text bold">2022 Recap Available!</div>
    <span class="material-symbols-rounded">star</span>
</a>