<div class="search-bar">
    <input class="title-medium search-query on-background-text" name="query" id="search-query" placeholder="{{placeholder}}" value="{{searchQuery}}" required>
    <button class="icon-button centering-flex search-submit">
        <span class="material-symbols-rounded">search</span>
    </button>
</div>
