:root {
  --md-source: #98dbd4;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary10: #00201e;
  --md-ref-palette-primary20: #003734;
  --md-ref-palette-primary25: #00433f;
  --md-ref-palette-primary30: #00504b;
  --md-ref-palette-primary35: #005d58;
  --md-ref-palette-primary40: #006a64;
  --md-ref-palette-primary50: #00857e;
  --md-ref-palette-primary60: #00a299;
  --md-ref-palette-primary70: #25beb5;
  --md-ref-palette-primary80: #50dbd0;
  --md-ref-palette-primary90: #71f7ec;
  --md-ref-palette-primary95: #b1fff7;
  --md-ref-palette-primary98: #e4fffb;
  --md-ref-palette-primary99: #f2fffc;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary10: #051f1d;
  --md-ref-palette-secondary20: #1c3532;
  --md-ref-palette-secondary25: #27403d;
  --md-ref-palette-secondary30: #324b49;
  --md-ref-palette-secondary35: #3e5754;
  --md-ref-palette-secondary40: #4a6360;
  --md-ref-palette-secondary50: #627c79;
  --md-ref-palette-secondary60: #7b9693;
  --md-ref-palette-secondary70: #96b1ad;
  --md-ref-palette-secondary80: #b0ccc8;
  --md-ref-palette-secondary90: #cce8e4;
  --md-ref-palette-secondary95: #daf7f2;
  --md-ref-palette-secondary98: #e4fffb;
  --md-ref-palette-secondary99: #f2fffc;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary10: #001d34;
  --md-ref-palette-tertiary20: #18324a;
  --md-ref-palette-tertiary25: #243d56;
  --md-ref-palette-tertiary30: #304962;
  --md-ref-palette-tertiary35: #3c556e;
  --md-ref-palette-tertiary40: #48617a;
  --md-ref-palette-tertiary50: #607994;
  --md-ref-palette-tertiary60: #7a93af;
  --md-ref-palette-tertiary70: #94aecb;
  --md-ref-palette-tertiary80: #afc9e7;
  --md-ref-palette-tertiary90: #cfe5ff;
  --md-ref-palette-tertiary95: #e8f1ff;
  --md-ref-palette-tertiary98: #f7f9ff;
  --md-ref-palette-tertiary99: #fcfcff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral10: #191c1c;
  --md-ref-palette-neutral20: #2d3130;
  --md-ref-palette-neutral25: #383c3b;
  --md-ref-palette-neutral30: #444747;
  --md-ref-palette-neutral35: #4f5352;
  --md-ref-palette-neutral40: #5b5f5e;
  --md-ref-palette-neutral50: #747877;
  --md-ref-palette-neutral60: #8e9190;
  --md-ref-palette-neutral70: #a9acab;
  --md-ref-palette-neutral80: #c4c7c6;
  --md-ref-palette-neutral90: #e0e3e2;
  --md-ref-palette-neutral95: #eff1f0;
  --md-ref-palette-neutral98: #f7faf8;
  --md-ref-palette-neutral99: #fafdfb;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant10: #141d1c;
  --md-ref-palette-neutral-variant20: #293231;
  --md-ref-palette-neutral-variant25: #343d3c;
  --md-ref-palette-neutral-variant30: #3f4947;
  --md-ref-palette-neutral-variant35: #4a5453;
  --md-ref-palette-neutral-variant40: #56605f;
  --md-ref-palette-neutral-variant50: #6f7977;
  --md-ref-palette-neutral-variant60: #899391;
  --md-ref-palette-neutral-variant70: #a3adab;
  --md-ref-palette-neutral-variant80: #bec9c7;
  --md-ref-palette-neutral-variant90: #dae5e2;
  --md-ref-palette-neutral-variant95: #e9f3f1;
  --md-ref-palette-neutral-variant98: #f1fcf9;
  --md-ref-palette-neutral-variant99: #f4fefc;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #000000;
  --md-sys-color-primary-light-rgb: 0 0 0;
  --md-sys-color-on-primary-light: #FFFFFF;
  --md-sys-color-primary-container-light: #000000;
  --md-sys-color-on-primary-container-light: #FFFFFF;
  --md-sys-color-secondary-light: #000000;
  --md-sys-color-on-secondary-light: #FFFFFF;
  --md-sys-color-secondary-container-light: #DDDDDD;
  --md-sys-color-on-secondary-container-light: #0C0C0C;
  --md-sys-color-tertiary-light: #FFFFFF;
  --md-sys-color-on-tertiary-light: #000000;
  --md-sys-color-tertiary-container-light: #D8E2FF;
  --md-sys-color-on-tertiary-container-light: #001947;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #FDFDFD;
  --md-sys-color-background-light-rgb: 253 253 253;
  --md-sys-color-on-background-light: #222222;
  --md-sys-color-surface-light: #FDFDFD;
  --md-sys-color-on-surface-light: #222222;
  --md-sys-color-surface-variant-light: #EDEDED;
  --md-sys-color-on-surface-variant-light: #515151;
  --md-sys-color-outline-light: #838383;
  --md-sys-color-inverse-on-surface-light: #F4F4F4;
  --md-sys-color-inverse-surface-light: #333333;
  --md-sys-color-inverse-primary-light: #A6A6A6;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #006a64;
  --md-sys-color-outline-variant-light: #bebebe;
  --md-sys-color-scrim-light: #000000;
  /* dark */
  --md-sys-color-primary-dark: #FFFFFF;
  --md-sys-color-primary-dark-rgb: 255 255 255;
  --md-sys-color-on-primary-dark: #5A5A5A;
  --md-sys-color-primary-container-dark: #FFFFFF;
  --md-sys-color-on-primary-container-dark: #000000;
  --md-sys-color-secondary-dark: #FFFFFF;
  --md-sys-color-on-secondary-dark: #5A5A5A;
  --md-sys-color-secondary-container-dark: #717171;
  --md-sys-color-on-secondary-container-dark: #E4E4E4;
  --md-sys-color-tertiary-dark: #000000;
  --md-sys-color-on-tertiary-dark: #FFFFFF;
  --md-sys-color-tertiary-container-dark: #00419E;
  --md-sys-color-on-tertiary-container-dark: #D8E2FF;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #1E1E1E;
  --md-sys-color-background-dark-rgb: 30 30 30;
  --md-sys-color-on-background-dark: #E6E6E6;
  --md-sys-color-surface-dark: #1E1E1E;
  --md-sys-color-on-surface-dark: #E6E6E6;
  --md-sys-color-surface-variant-dark: #4E4E4E;
  --md-sys-color-on-surface-variant-dark: #D1D1D1;
  --md-sys-color-outline-dark: #999999;
  --md-sys-color-inverse-on-surface-dark: #1E1E1E;
  --md-sys-color-inverse-surface-dark: #E6E6E6;
  --md-sys-color-inverse-primary-dark: #CECECE;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #50dbd0;
  --md-sys-color-outline-variant-dark: #474747;
  --md-sys-color-scrim-dark: #000000;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto, Kosugi Maru;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto, Kosugi Maru;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto, Kosugi Maru;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto, Kosugi Maru;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto, Kosugi Maru;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto, Kosugi Maru;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto, Kosugi Maru;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto, Kosugi Maru;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto, Kosugi Maru;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto, Kosugi Maru;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto, Kosugi Maru;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto, Kosugi Maru;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto, Kosugi Maru;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium-large */
  --md-sys-typescale-title-medium-large-font-family-name: Roboto, Kosugi Maru;
  --md-sys-typescale-title-medium-large-font-family-style: Medium;
  --md-sys-typescale-title-medium-large-font-weight: 500px;
  --md-sys-typescale-title-medium-large-font-size: 19px;
  --md-sys-typescale-title-medium-large-line-height: 26px;
  --md-sys-typescale-title-medium-large-letter-spacing: 0.15px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto, Kosugi Maru;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto, Kosugi Maru;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}
